<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Подключение стилей -->
</head>
<body>
    <div id="container">
        <img src="{{ url_for('static', filename='F6vMmrVZPbo.jpg') }}" alt="Описание изображения">
        <h1 id="prediction" style="display: none">{{ prediction }}</h1> <!--Предсказание не показывает-->
        <button id="button" onclick="getNewPrediction()">Получить новое предсказание</button>
    </div>

    <script>
        window.onload = () => {
            StartAnimation();
        };

        function StartAnimation() {
            setTimeout(() => {
                        document.getElementById('container').style.opacity = '1';
                    }, 100);
        }

        function getNewPrediction() {
            fetch('/new_prediction')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('prediction').innerText = data.prediction;
                    document.getElementById('prediction').style.display = 'block'; // Показать предсказание
                    document.getElementById('button').style.display = 'none'; // Скрыть кнопку

                    setTimeout(() => {
                        document.getElementById('prediction').style.opacity = '1';
                    }, 100); // Задержка 100мс
                });
        }
    </script>
</body>
</html>